---
import { Image } from "astro:assets";

import "../styles/reset.css";
import "../styles/main.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import headshot from "../assets/headshot-cropped.jpg";
import logoBothalf from "../assets/logo-bothalf.png";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-9" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg?" />
    <link rel="icon" href="/favicon.ico?" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Contrail+One&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>Rochester for Ward</title>
  </head>
  <body>
    <Header />
    <main>
      <section>
        <div class="content-wrapper intro">
          <div class="headshot-container">
            <Image
              class="headshot"
              src={headshot}
              width={400}
              height={500}
              alt="Headshot photo of Acacia Ward"
            />
          </div>
          <div class="intro-content">
            <div class="rochester-forward">
              <Image src={logoBothalf} alt="Move Rochester for Ward" />
            </div>
            <p>
              My name is Acacia Ward, and I am running for City Council Ward 5
              in 2026 to move Rochester forward.
            </p>
            <p>
              As a parent, advocate, and social work student, I have seen too
              many systems overlook the very people they claim to serve. People
              from all walks of life who work hard while navigating unimaginable
              and unexpected barriers. People like me and people like you. These
              experiences shape my belief in a city council that leads with
              intention, accountability, and community focus.
            </p>
          </div>
        </div>
      </section>

      <section id="platform" class="platform-background">
        <div class="priorities content-wrapper">
          <h2>Priorities</h2>
          <p>The important topics fueling my campaign</p>
          <ul>
            <li>
              <p>
                <span>An active city council</span> is one that prioritizes economic
                mobility, quality of life, and community, using collaborative, innovative,
                and proactive measures to serve their city.
              </p>
            </li>
            <li>
              <p>
                <span>Affordable everyday living</span> allows people to live with
                stability and dignity. Affordability means having housing and transportation
                that meet the needs of all community members.
              </p>
            </li>
            <li>
              <p>
                <span>Public safety</span> is built on trust, prevention, and accountability.
                It must support people before, during, and after a crisis.
              </p>
            </li>
          </ul>
          <!-- <h3>Better Public Meetings</h3>
            <ul>
              <li>
                <h4>Elevate Community Voices</h4>
                <p>
                  Elevating community voices is the heart why I am running for
                  City Council. Throughout my life, I have experienced what it
                  feels like to be unheard, overlooked, or made to feel
                  unwelcome in spaces where decisions are being made. I also
                  know far too many people who feel their voices do not matter
                  and that their vote will not lead to real change. I believe
                  the City Council works best when it reflects the lived
                  experiences of the people it serves. My commitment is to: I
                  will go directly to constituents to learn about their vision
                  for Rochester. Throughout my campaign for city council member
                  I will ask community members to share their positive and
                  negative experiences as Rochester residents.
                </p>
              </li>
              <li>
                <h4>Partnership across leadership and businesses</h4>
                <p>
                  I will advocate for stronger coordination between city‑led
                  programs, county initiatives, nonprofits, and local businesses
                  to reduce duplication and streamline application processes.
                  Residents should not have to navigate multiple systems,
                  deadlines, and requirements just to meet basic needs. This
                  work will lay the foundation for long-term stability, not just
                  short-term crisis response.
                </p>
              </li>
            </ul>
          </div>
          <div>
            <h3>Affordable Everyday Living</h3>
          </div>
          <div>
            <h3>Public safety</h3>
          </div>
          <div>
            <h3>Transportation</h3>
          </div> -->
        </div>
      </section>
    </main>
    <Footer />
  </body>
</html>
