---
import { Image } from "astro:assets";

import "../styles/reset.css";
import "../styles/main.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import headshot from "../assets/headshot.jpg";
import logoBothalf from "../assets/logo-bothalf.png";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-9" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <meta name="generator" content={Astro.generator} />
    <title>Rochester for Ward</title>
  </head>
  <body>
    <Header />
    <main>
      <div class="content-wrapper">
        <section class="intro">
          <Image
            class="headshot"
            src={headshot}
            alt="Headshot photo of Acacia Ward"
          />
          <div class="intro-content">
            <div class="rochester-forward">
              <Image src={logoBothalf} alt="Move Rochester for Ward" />
            </div>
            <p>
              My name is Acacia Ward, and I am running for City Council Ward 5
              in 2026 to move Rochester forward.
            </p>
            <p>
              As a parent, advocate, and social work student, I have seen too
              many systems overlook the very people they claim to serve. People
              from all walks of life who work hard while navigating unimaginable
              and unexpected barriers. People like me and people like you. These
              experiences shape my belief in a city council that leads with
              intention, accountability, and community focus.
            </p>
          </div>
        </section>
      </div>
    </main>
    <Footer />
  </body>
</html>
