---
import { Image } from "astro:assets";
import logoTh from "../assets/logo-tophalf.png";
---

<header>
  <div class="site-header">
    <Image
      class="header-logo"
      src={logoTh}
      alt="Campaign logo for Acacia Ward"
    />
    <nav class="primary-nav">
      <ul>
        <li><a href="/meet-ward/#platform">Platform</a></li>
        <li>
          <a
            href="https://f919470c.sibforms.com/serve/MUIFAM2A28UqrkY9utTzVaiLGvT905YwG_pol4KUTzLhMeqYGQONDgzK0eOy_0RpL_rTMA8I1WoAO4BzVyhRabYithVelACg8wKFuYHvuTVppPAHk0EVLNfujxvmdOQgtFpeBGaQv6s4TyMUx7Hui1Lv6eCEAcPQX-Sq2oD7HEhlGsyOTkjla8j6KALGpjHlemj_bDjcASX04jBUig=="
            >Get Involved!</a
          >
        </li>
        <li>
          <a
            href="https://f919470c.sibforms.com/serve/MUIFAEndMZUKf8Y8kcfpVcDbrjXv9GAFy7iSzZyvhermxe_Pxyo6fkW9MJAv0SdBukLL-b3kg84B7HEsqX7yBs2ffCVJcxHZmNREEx64FjaE3aFKvfyccKqq9_URHt9uPRPTr5tr-ULKPb30AjeZTX_umY649jHIvXXFVDhAnu3AbV4k90XQyKl1TCppvL3CoAjLDYDvdyaM20YeBw=="
            >Donate</a
          >
        </li>
      </ul>
    </nav>
  </div>
</header>
