---
import { Image } from "astro:assets";
import logoTh from "../assets/logo-tophalf.png";
---

<header>
  <div class="site-header">
    <Image
      class="header-logo"
      src={logoTh}
      alt="Campaign logo for Acacia Ward"
    />
    <nav class="primary-nav">
      <ul>
        <li><a href="/#platform">Platform</a></li>
        <li>
          <a
            href="https://f919470c.sibforms.com/serve/MUIFAM2A28UqrkY9utTzVaiLGvT905YwG_pol4KUTzLhMeqYGQONDgzK0eOy_0RpL_rTMA8I1WoAO4BzVyhRabYithVelACg8wKFuYHvuTVppPAHk0EVLNfujxvmdOQgtFpeBGaQv6s4TyMUx7Hui1Lv6eCEAcPQX-Sq2oD7HEhlGsyOTkjla8j6KALGpjHlemj_bDjcASX04jBUig=="
            >Get Involved!</a
          >
        </li>
        <li>
          <a href="https://www.paypal.com/donate?campaign_id=CGPN5FP98EPWC"
            >Donate</a
          >
        </li>
      </ul>
    </nav>
  </div>
</header>
